{% extends "app/base.html" %}

{% block title %}
	{{title}}
{% endblock %}

{% block sections %}

{% if statuse %}
    <section class="param_o">
        <div class="container">
            <div class="row centered">

                <div class="col-md-12">
                    <div class="param_block">
                        <h3>Статус 
                        {% for status in statuse %}
                        <a href="/status?status_id={{status.href}}">{{status}}</a>
                        {% endfor %}
                        </h3>
                    </div>
                </div>

            </div>

        </div>
    </section>
{% endif %}

{% if cur_balance %}
    <section class="param_o">
        <div class="container">
            <div class="row centered">

                <div class="col-md-12">
                    <div class="param_block">
                        <h3>Баланс <a href="#">{{cur_balance}}</a></h3>
                    </div>
                </div>

            </div>

        </div>
    </section>
{% endif %}

{% if next_status %}
    <section class="param_o">
        <div class="container">
            <div class="row centered">

                <div class="col-md-12">
                    <div class="param_block">
                        <h3>До следующего уровня осталось <a href="#">{{next_status}}</a></h3>
                    </div>
                </div>

            </div>

        </div>
    </section>
{% endif %}


{% if services %}
    <section class="param_o">
        <div class="container">
            <div class="row centered">

                <div class="col-md-12">
                    <div class="param_block">
                        <h3>Последние услуги</h3>
                        {% for service in services %}
                            <ul>
                                <li><a href="#">{{service.service_name}}</a></li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>
    </section>
{% endif %}


<section class="status_s">
    <div class="container">
        <div class="row centered">
            <button type="button" class="btn btn-success">Настройки</button>
        </div>
    </div>
</section>

{% endblock %}